{% extends 'base.html' %} 
{% load static %}
{% block content %}
<h1>Straya</h1>
<h2>Your Guide to Nightlife and Events</h2>
<hr />
<p class="page-content">
  
Straya is a dynamic and innovative nightlife and event app dedicated to ensuring 
patrons can easily discover the perfect events and clubs tailored to their preferences. 
As a small yet passionate company, Straya's mission is to connect users with fun, cool, 
and exciting experiences that match their unique tastes. 
Whether you're looking for a vibrant club scene, a laid-back lounge, or an exclusive event, 
Straya is your go-to guide for unforgettable nights out. 
Join us and explore the best nightlife your city has to offer with Straya.
</p>
{% endblock %}

